﻿body {
    background-color:#000;
}

.centralizar_div {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
}

.centralizar_tabela {
    margin: 50px auto;
    text-align: left;
}


/* Estilização do botão enviar*/
.myButton {
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    border: 1px solid #74b807;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #528009;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        background-color: #77a809;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.container_info {
    background-color: #808080;
    padding: 20px 0px;
    color:aliceblue;
}


/* Estilização do botão VOLTAR e PROXIMO*/
.myButtonVoltar {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .myButtonVoltar :hover {
        background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        background-color: #dfdfdf;
    }

    .myButtonVoltar :active {
        position: relative;
        top: 1px;
    }


.container_linhas {
    text-align:center;
    padding: 10px;
    margin: 5px 0px;
    border-width: 0px;
    border-color: #ffffff;
    background-color: #d7d7d7;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 4px rgba(255,255,255,.0);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}

/* Estilização dos resultados*/

.result-panel {
    align-items:end;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.result-container div {
    margin-bottom: 10px;
}

    .result-container div strong {
        color: #b6ff00;
    }

.thanks-message {
    margin-top: 20px;
}